<table class="wrap">
	<div class="header">
		<div class="title">Конвертер валют</div>
		<i class="material-icons md-32">close</i>
	</div>

	<div class="lines">
		<div class="line">
			<div class="labels">
				<img class="icon" src="../../assets/images/rur.png">
				<div class="label">Рубли</div>
			</div>
			<div class="fields">
				<md-input-container class="field rur">
				  <input mdInput placeholder="" value="" (focus)="handlerClickField('rur')" [(ngModel)]="fieldsValues.rur">
				</md-input-container>
			</div>
		</div>

		<div class="line">
			<div class="labels">
				<img class="icon" src="../../assets/images/usd.png">
				<div class="label">Доллары USA</div>
			</div>
			<div class="fields">
				<md-input-container class="field usd">
				  <input mdInput placeholder="" value="" (focus)="handlerClickField('usd')" [(ngModel)]="fieldsValues.usd">
				</md-input-container>
			</div>
		</div>

		<div class="line">
			<div class="labels">
				<img class="icon" src="../../assets/images/eur.png">
				<div class="label">Евро</div>
			</div>
			<div class="fields">
				<md-input-container class="field eur">
				  <input mdInput placeholder="" value="" (focus)="handlerClickField('eur')" [(ngModel)]="fieldsValues.eur">
				</md-input-container>
			</div>
		</div>

		<div class="line">
			<div class="labels">
				<img class="icon" src="../../assets/images/gbp.png">
				<div class="label">Фунты стерлингов</div>
			</div>
			<div class="fields">
				<md-input-container class="field gbp">
				  <input mdInput placeholder="" value="" (focus)="handlerClickField('gbp')" [(ngModel)]="fieldsValues.gbp">
				</md-input-container>
			</div>
		</div>

		<div class="line">
			<div class="labels">
				<img class="icon" src="../../assets/images/chf.png">
				<div class="label">Швейцарский франк</div>
			</div>
			<div class="fields">
				<md-input-container class="field chf">
				  <input mdInput placeholder="" value="" (focus)="handlerClickField('chf')" [(ngModel)]="fieldsValues.chf">
				</md-input-container>
			</div>
		</div>
	</div>	

	<div class="submit-area">
		<button class="btn calc-btn" md-button [disabled]="isDisabledCalcBtn()" (click)="handlerClickCalcBtn()">
			<i class="material-icons md-24">refresh</i>
			<span>Пересчитать</span>
		</button>
	</div>			
</table>