<div class="wrap">
	<md-progress-spinner class="spinner" mode="indeterminate" *ngIf="isVisibleSpinner" (onChangeVisibilitySpinner)="setVisibilitySpinner($event)"></md-progress-spinner>

	<md-card class="settings-area">
		<h2>Количество знаков после запятой</h2>

		<md-radio-group class="settings-tofixed">
		  <md-radio-button value="{{ num }}" [checked]="accuracy == num" (click)="changeAccuracy(num)" *ngFor = "let num of [1, 2, 3, 4, 5]">
		  	{{ num }}
			</md-radio-button>
		</md-radio-group>
	</md-card>

	<button md-button class="btn btn-money-conv" (click)="openMoneyConverter()">
	  <i class="material-icons md-24 icon-money-conv">attach_money</i>
	  Открыть конвертер валют
	</button>
</div>

