.wrap{
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  flex-direction: column;
	padding: 0;	
	position: relative;
}

	.settings-area{
		width: 100% ;
		max-width: 300px;
		margin-bottom: 20px;
	}

		.settings-accuracy{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}

	.btn-money-conv{
		display: block;
		font-size: 20px;
		width: 100%;
		max-width: 300px;		
	}

		.icon-money-conv{
			display: inline-block;
			height: 100%;
			font-size: 20px;
			margin-top: -4px;
		}







