.wrap{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;	

	.btn-money-conv{
		display: block;
		height: 100%;
		font-size: 20px;
	}

		.icon-money-conv{
			display: inline-block;
			height: 100%;
			font-size: 20px;
			margin-top: -4px;
		}

}



